section {
	width: 800px;
	margin: 50px auto;
}
section h1,
section p {
	text-align: center;
	color: #454545;
}
section h1 {
	font: 32px 'Open Sans';
	font-weight: bold;
}
section p {
	font: 16px 'Open Sans';
}

section img {
	padding: 30px 0 0 200px;
	width: 50%;
}

section i, span {
	color: red;
}